<div ng-controller="editReportController" style="margin: 10px">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="report.title" style="font-size: 50px; height: 80px; margin: 0;" placeholder="Title">
			</div>
		</div>
	</div>
	<div class="row" style="height: 500px; margin: 0px;">
		<div class="col-xs-6" style="height: 100%; overflow: scroll; border: solid 1px #999; padding: 0; border-radius: 4px 0 0 4px">
			<textarea style="width: 100%; height: 100%; border: 0; margin: 0; border-radius: 4px" ng-model="report.content" placeholder="Write report with markdown." id="reportTextArea"></textarea>
			<div class="form-group" style="position: absolute; bottom: 0; right: 0; padding: 10px; margin-right: 5px; border-radius: 5px; background-color: #F9F9F9">
				<label for="exampleInputIcon" translate="report.image.select"></label> <input type="file" accept="image/*" id="imageInput" ng-file-select="onImageSelected($files)">
				<div ng-file-drop="onImageSelected($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported" ng-file-drop-available="dropSupported=true" style="background-color: #FFF; padding: 10px; margin-top: 5px; text-align: center" translate="report.image.drop"></div>
			</div>
		</div>
		<div class="col-xs-6" style="height: 100%; overflow: scroll; border: solid 1px #999; border-radius: 0 4px 4px 0">
			<div class="reportArea" marked="report.content" style="border-radius: 4px"></div>
		</div>
	</div>
	<div class="row" style="margin: 10px">
		<div class="col-xs-12" align="right">
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			<div class="btn-group" align="right">
				<button type="button" id="doActionButton" class="btn btn-primary" style="width: 150px;" ng-click="doAction()">{{action}}</button>
				<button type="button" id="setActionButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li id="setPushButton"><a ng-click="changeAction('publish')">publish</a></li>
					<li id="setDraftButton"><a ng-click="changeAction('save as draft')">save as draft</a></li>
					<li id="setPrivateButton"><a ng-click="changeAction('save as private')">save as private</a></li>
					<li class="divider"></li>
					<li id="setDeleteButton"><a ng-click="changeAction('delete')">delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>