<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" translate="appName"></a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right" ng-show="loginAccount">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a id="logoutButton" ng-click="logout()">logout</a></li>
						<li><a id="headerCreateReportButton" href="#editReport">create new report</a></li>
					</ul></li>
				<li>
					<div class="iconWrapMicro" style="margin-top: 10px; white-space: nowrap;">
						<nobr>
							<a href="#myPage"> <img ng-src="{{loginAccount.iconUrl}}" alt="{{report.reporter.name}}" />{{loginAccount.name}}
							</a>
						</nobr>
					</div>
				</li>
			</ul>
		</nav>
		<!--/.nav-collapse -->
	</div>
	<!--/.container-fluid -->
</div>