<div ng-controller="myPageController" style="margin: 10px">
	<div class="row" style="height: 500px; margin: 0px;">
		<div class="col-xs-4" style="height: 100%; padding: 0; border-radius: 4px 0 0 4px">
			<div class="row">
				<div class="col-xs-3">
					<p class="iconWrapMini">
						<img ng-src="{{loginAccount.iconUrl}}" alt="{{loginAccount.name}}">
					</p>
				</div>
				<div class="col-xs-9">
					<div>
						<h3>{{loginAccount.name}}</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-11">{{loginAccount.profile}}</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-primary" ng-click="editProfile()">Edit Profile</button>
				</div>
			</div>
		</div>
		<div class="col-xs-8" style="height: 100%; overflow-y: scroll;">
			<tabset> <tab heading="Reports">
			<div class="row" style="margin-top: 10px">
				<div class="col-xs-12" style="margin-bottom: 10px">
					<button type="button" class="btn btn-primary" ng-click="createReport()">Create New Report</button>
				</div>
			</div>
			<div class="row clickable reportRow" ng-click="showReport(report.key)" ng-repeat="report in reports" style="border-bottom: solid 1px #CCC">
				<div class="col-xs-8">
					<h4>{{report.title}}</h4>
				</div>
				<div class="col-xs-2">{{report.createdAt | date:"yyyy/MM/dd"}}</div>
				<div class="col-xs-2" ng-switch on="report.status">
					<span class="animate-switch label label-primary" ng-switch-when="published" ng-click="showPublishedReport(report, $event)">published</span> <span class="animate-switch label label-default" ng-switch-when="draft">Draft</span> <span class="animate-switch label label-default" ng-switch-when="private">Private</span> <span class="animate-switch label label-default" ng-switch-default>Draft</span>
				</div>
			</div>
			</tab>
			 <tab heading="News"></tab> </tabset>
		</div>
	</div>
</div>
</div>