<div ng-controller="reportController" style="margin: 10px">
	<div class="row">
		<div class="col-sm-9 col-xs-12">
			<div class="form-group">
				<p class="iconWrapMiddle" style="float: left">
					<img ng-src="{{report.reporter.iconUrl}}" alt="{{report.reporter.name}}" width="80px">
				</p>
				<div style="font-size: 30px; margin: 0; margin-left: 90px; min-height: 80px;">{{report.title}}</div>
				<br style="clear: both" />
			</div>
		</div>
		<div class="col-sm-3 hidden-xs">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10" align="center" style="font-size: 20px; margin-top: 10px">Fold:{{report.foldedCount ? report.foldedCount : 0}}</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10">
					<button class="btn " ng-class="report.folded ? 'btn-default' : 'btn-primary'" style="width: 100%" ng-click="report.folded ? unfold() : fold()">{{report.folded ? "Unfold":"Fold"}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin: 0px;">
		<div class="col-sm-9 col-xs-12">
			<div class="reportArea" marked="report.content" style="border-radius: 4px"></div>
		</div>
		<div class="col-sm-3 col-xs-12" style="padding: 0; border-radius: 4px 0 0 4px">
			<div class="row">
				<div class="col-xs-3">
					<p class="iconWrapMini">
						<img ng-src="{{report.reporter.iconUrl}}" alt="{{report.reporter.name}}">
					</p>
				</div>
				<div class="col-xs-9">
					<div>
						<h4>{{report.reporter.name}}</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-11">{{report.reporter.profile}}</div>
			</div>
			<div class="row" ng-show="loginAccount && loginAccount.id != report.reporter.id">
				<button class="btn btn-primary col-xs-11" ng-class="report.reporter.following ? 'btn-default' : 'btn-primary'" ng-click="report.reporter.following ? unfollow() : follow()">{{report.reporter.following ? "Unfollow":"Follow"}}</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-offset-1 col-xs-10">
			<button class="btn" ng-class="report.folded ? 'btn-default' : 'btn-primary'" style="width: 100%" ng-click="report.folded ? unfold() : fold()">{{report.folded ? "Unfold":"Fold"}}</button>
		</div>
	</div>
	<div class="row" style="margin: 0; margin-top: 10px" align="left">
		<div class="col-sm-9 col-xs-12" style="margin: 0; padding: 0;">
			<div class="row comment" ng-repeat="comment in comments" style="margin: 0;">
				<div class="col-xs-12" style="margin: 0;">
					<div class="bs-callout bs-callout-show">
						<div class="row">
							<div style="margin-left: 15px; padding: 0; float: left">
								<div class="iconWrapMicro" style="padding: 0; float: left;">
									<img ng-src="{{comment.commenter.iconUrl}}" alt="{{comment.commenter.name}}" />
								</div>
								<h4 style="margin-left: 10px; padding: 0; float: left; padding-top: 3px;">{{comment.commenter.name}}</h4>
								<br style="clear: both" />
							</div>
							<div style="float: right;" ng-show="loginAccount.id == comment.commenter.id">
								<span class="glyphicon glyphicon-pencil clickable" style="margin-left: 10px" ng-click="openEditCommentDialog(comment)"></span> <span class="glyphicon glyphicon-remove-circle clickable" style="margin-left: 10px" ng-click="openDeleteCommentDialog(comment)"></span>
							</div>
							<div style="float: right">{{comment.createdAt | date:"yyyy/MM/dd HH:mm"}}</div>
							<br style="clear: both" />
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="message" style="white-space: pre;">{{comment.message}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin: 0; margin-top: 10px" ng-show="loginAccount" align="left">
		<div class="col-sm-9 col-xs-12" style="margin: 0; padding: 0;">
			<div class="row" style="margin: 0; padding: 0;">
				<div class="col-xs-9" style="margin: 0; padding: 0;">
					<div class="iconWrapMicro" style="padding: 0; float: left;">
						<img ng-src="{{report.reporter.iconUrl}}" alt="{{report.reporter.name}}" />
					</div>
					<h4 style="margin-left: 10px; padding: 0; float: left; padding-top: 3px;">Comment</h4>
					<br style="clear: both" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="padding: 0;">
					<div style="margin-left: 15px; margin-right: 15px">
						<textarea style="width: 100%; height: 5em;" placeholder="Enter comment" ng-model="inputMessage"></textarea>
					</div>
				</div>
			</div>
			<div class="row" align="right">
				<div class="col-sm-3 col-sm-offset-9 col-xs-10 col-xs-offset-1">
					<button class="btn btn-primary" style="width: 100%" ng-click="comment()">Comment</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin: 0; margin-top: 10px" ng-show="!loginAccount" align="left">
		<div class="col-sm-9 col-xs-offset-1 col-xs-10" style="padding: 0; height: 100px; padding-top: 20px; text-align: center; background-color: #F0F0F0">
			<div class="row">
				<div class="col-xs-12">Login or Create Account to comment</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-primary" ng-click="createAccountForComment()">Login or Create Account</button>
				</div>
			</div>
		</div>
	</div>
</div>