.clickable:HOVER {
	cursor: pointer;
	background-color: #2d6ca2;
	color: white;
}

.iconWrap {
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.iconWrap image {
	width: 120px;
}

.iconWrapMiddle {
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.iconWrap image {
	width: 80px;
}

.iconWrapMini {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.iconWrapMini img {
	width: 60px;
}

.iconWrapMicro {
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.iconWrapMicro img {
	width: 30px;
}

/*report css start*/
.reportArea h1 {
	padding: 3px;
	padding-left: 10px;
	background-color: #F0F0F0;
}

.reportArea h2 {
	border-bottom: 1px #F0F0F0 solid;
}

.reportArea table {
	border: 1px #F0F0F0 solid;
}

.reportArea table th {
	padding: 6px;
	text-align: center;
	vertical-align: center;
	color: #333333;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
}

.reportArea table td {
	padding: 6px;
	border: 1px solid #ccc;
}

.reportArea img {
	max-width: 100%;
}
/*report css end*/

/* callout */
.bs-callout {
	margin-top: 5px;
	padding: 5px 30px 5px 5px;
	border-left: 5px solid #eee;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code, .bs-callout .highlight, .bs-callout .message {
	background-color: #fff;
	padding: 10px;
}

.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #d9534f;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f0ad4e;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #5bc0de;
}

.bs-callout-show {
	background-color: #F9F9F9;
	border-color: #F0F0F0;
}
/* callout end */

